<a href="https://colab.research.google.com/github/VivianeMatosOliveira/Curso_Analista_Dados/blob/main/Exercicios/modulo_23_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Fundamentos de Aprendizado de Máquina
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Teoria;</li>
  <li>Atributos categóricos;</li>
  <li>Atributos numéricos;</li>
  <li>Dados faltantes.</li>
</ol>

---

# **Exercícios**

## 1\. Pinguins

Neste exercício, vamos utilizar uma base de dados com informações sobre penguins. A idéia é preparar a base de dados para prever a espécie do penguin (variável resposta) baseado em suas características físicas e geográficas (variáveis preditivas).

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
data = sns.load_dataset('penguins')

In [ ]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
# renomeando as colunas 
data = data.rename(columns={"species": "especies", "island": "ilha",'bill_length_mm':'comprimento_bico_mm', 'bill_depth_mm':'profundidade_bico_mm','flipper_length_mm':'comprimento_nadadeira_mm','body_mass_g':'massa_corporal_g','sex':'sexo'})

In [ ]:
data.head()

,especies,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
data.sample(10)

,especies,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo
302,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,Female
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,Female
309,Gentoo,Biscoe,52.1,17.0,230.0,5550.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
232,Gentoo,Biscoe,45.5,13.7,214.0,4650.0,Female
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,Female
249,Gentoo,Biscoe,50.0,15.3,220.0,5550.0,Male
166,Chinstrap,Dream,45.9,17.1,190.0,3575.0,Female
84,Adelie,Dream,37.3,17.8,191.0,3350.0,Female
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,Male

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   especies                  344 non-null    object
 1   ilha                      344 non-null    object
 2   comprimento_bico_mm       342 non-null    float64
 3   profundidade_bico_mm      342 non-null    float64
 4   comprimento_nadadeira_mm  342 non-null    float64
 5   massa_corporal_g          342 non-null    float64
 6   sexo                      333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [ ]:
data.shape

(344, 7)

In [ ]:
variavel_resposta = data['especies'].unique()
variavel_resposta

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [ ]:
carac_geografica = data['ilha'].unique()
carac_geografica

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [ ]:
carac_fisicas = data[['comprimento_bico_mm','profundidade_bico_mm','comprimento_nadadeira_mm','massa_corporal_g','sexo']]
carac_fisicas.head()

,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo
0,39.1,18.7,181.0,3750.0,Male
1,39.5,17.4,186.0,3800.0,Female
2,40.3,18.0,195.0,3250.0,Female
3,NaN,NaN,NaN,NaN,NaN
4,36.7,19.3,193.0,3450.0,Female

### **1.1. Valores nulos**

A base de dados possui valores faltantes, utilize os conceitos da aula para trata-los.

In [ ]:
data.isnull().sum()

especies                     0
ilha                         0
comprimento_bico_mm          2
profundidade_bico_mm         2
comprimento_nadadeira_mm     2
massa_corporal_g             2
sexo                        11
dtype: int64

In [ ]:
# resposta da questão 1.1

In [ ]:
data.dropna(inplace= True)

In [ ]:
data

,especies,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [ ]:
data.isnull().sum()

especies                    0
ilha                        0
comprimento_bico_mm         0
profundidade_bico_mm        0
comprimento_nadadeira_mm    0
massa_corporal_g            0
sexo                        0
dtype: int64

### **1.2. Variáveis numéricas**

Identifique as variáveis numéricas e crie uma nova coluna **padronizando** seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_std*".

> **Nota**: Você não deve tratar a variável resposta.

In [ ]:
data[['comprimento_bico_mm','profundidade_bico_mm','comprimento_nadadeira_mm','massa_corporal_g']].describe().T

,count,mean,std,min,25%,50%,75%,max
comprimento_bico_mm,333.0,43.992793,5.468668,32.1,39.5,44.5,48.6,59.6
profundidade_bico_mm,333.0,17.164865,1.969235,13.1,15.6,17.3,18.7,21.5
comprimento_nadadeira_mm,333.0,200.966967,14.015765,172.0,190.0,197.0,213.0,231.0
massa_corporal_g,333.0,4207.057057,805.215802,2700.0,3550.0,4050.0,4775.0,6300.0

In [ ]:
# resposta da questão 1.2

In [ ]:
media = data['comprimento_bico_mm'].mean()
print(media)

desvio_padrao = data['comprimento_bico_mm'].std()
print(desvio_padrao)

43.99279279279279
5.468668342647559

In [ ]:
data['comprimento_bico_mm_std'] = data['comprimento_bico_mm'].apply(lambda comprimento: (comprimento - media) / desvio_padrao)

In [ ]:
media = data['comprimento_bico_mm_std'].mean()
print(media)

desvio_padrao = data['comprimento_bico_mm_std'].std()
print(desvio_padrao)

3.8407715446491904e-16
1.0

In [ ]:
media = data['profundidade_bico_mm'].mean()
print(media)

desvio_padrao = data['profundidade_bico_mm'].std()
print(desvio_padrao)

17.164864864864864
1.9692354633199007

In [ ]:
data['profundidade_bico_mm_std'] = data['profundidade_bico_mm'].apply(lambda profundidade: (profundidade - media) / desvio_padrao)

In [ ]:
media = data['comprimento_nadadeira_mm'].mean()
print(media)

desvio_padrao = data['comprimento_nadadeira_mm'].std()
print(desvio_padrao)

200.96696696696696
14.015765288287879

In [ ]:
data['comprimento_nadadeira_mm_std'] = data['comprimento_nadadeira_mm'].apply(lambda comprimento: (comprimento - media) / desvio_padrao)

In [ ]:
media = data['massa_corporal_g'].mean()
print(media)

desvio_padrao = data['massa_corporal_g'].std()
print(desvio_padrao)

4207.057057057057
805.2158019428965

In [ ]:
data['massa_corporal_g_std'] = data['massa_corporal_g'].apply(lambda massa: (massa - media) / desvio_padrao)

In [ ]:
data.head()

,especies,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,comprimento_bico_mm_std,profundidade_bico_mm_std,comprimento_nadadeira_mm_std,massa_corporal_g_std
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,-0.894695,0.779559,-1.424608,-0.567621
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,-0.821552,0.119404,-1.067867,-0.505525
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,-0.675264,0.424091,-0.425733,-1.188572
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,-1.333559,1.084246,-0.568429,-0.940192
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,-0.858123,1.744400,-0.782474,-0.691811

### **1.3. Variáveis categóricas**

Identifique as variáveis categóricas nominais e ordinais, crie uma nova coluna aplicando a técnica correta de conversão a seus valores. A nova coluna deve ter o mesmo nome da coluna original acrescidade de "*_nom*" ou "*_ord*".

> **Nota**: Você não deve tratar a variável resposta.

In [ ]:
# resposta da questão 1.3

In [ ]:
data['sex_m_nom'] = data['sexo'].apply(lambda sexo: 1 if sexo == 'Male' else 0)
data['sex_f_nom'] = data['sexo'].apply(lambda sexo: 1 if sexo == 'Female' else 0)

In [ ]:
ilha_mapper = {
   'Torgersen':1, 
   'Biscoe':2, 
   'Dream': 3,
}

In [ ]:
data['ilha_encoded_ord'] = data['ilha'].apply(lambda level: ilha_mapper[level])

In [ ]:
data.sample(10)

,especies,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,comprimento_bico_mm_std,profundidade_bico_mm_std,comprimento_nadadeira_mm_std,massa_corporal_g_std,sex_m_nom,sex_f_nom,ilha_encoded_ord
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male,2.031063,-0.591532,2.071455,2.040376,1,0,2
138,Adelie,Dream,37.0,16.5,185.0,3400.0,Female,-1.278701,-0.337626,-1.139215,-1.002287,0,1,3
263,Gentoo,Biscoe,49.6,15.0,216.0,4750.0,Male,1.025333,-1.099343,1.072580,0.674283,1,0,2
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,Male,1.884775,-0.743875,2.142804,1.791995,1,0,2
120,Adelie,Torgersen,36.2,17.2,187.0,3150.0,Female,-1.424989,0.017842,-0.996518,-1.312762,0,1,1
104,Adelie,Biscoe,37.9,18.6,193.0,2925.0,Female,-1.114127,0.728778,-0.568429,-1.592191,0,1,2
260,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,Female,-0.236400,-1.759497,0.501794,-0.319240,0,1,2
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female,-0.090112,0.474872,0.073705,-1.002287,0,1,3
185,Chinstrap,Dream,51.0,18.8,203.0,4100.0,Male,1.281337,0.830340,0.145053,-0.132954,1,0,3
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,Male,-0.437546,0.424091,-0.639777,-0.319240,1,0,2

In [ ]:
data['ilha_encoded_ord'].unique()

array([1, 2, 3])

### **1.4. Limpeza**

Descarte as colunas originais e mantenha apenas a variável resposta e as variáveis preditivas com o sufixo *_std*", *_nom*" e "*_ord*".

In [ ]:
# resposta da questão 1.4

In [ ]:
data.columns

Index(['especies', 'ilha', 'comprimento_bico_mm', 'profundidade_bico_mm',
       'comprimento_nadadeira_mm', 'massa_corporal_g', 'sexo',
       'comprimento_bico_mm_std', 'profundidade_bico_mm_std',
       'comprimento_nadadeira_mm_std', 'massa_corporal_g_std', 'sex_m_nom',
       'sex_f_nom', 'ilha_encoded_ord'],
      dtype='object')

In [ ]:
data.drop(columns=['ilha', 'comprimento_bico_mm', 'profundidade_bico_mm',
       'comprimento_nadadeira_mm', 'massa_corporal_g', 'sexo'],inplace = True)

In [ ]:
data

,especies,comprimento_bico_mm_std,profundidade_bico_mm_std,comprimento_nadadeira_mm_std,massa_corporal_g_std,sex_m_nom,sex_f_nom,ilha_encoded_ord
0,Adelie,-0.894695,0.779559,-1.424608,-0.567621,1,0,1
1,Adelie,-0.821552,0.119404,-1.067867,-0.505525,0,1,1
2,Adelie,-0.675264,0.424091,-0.425733,-1.188572,0,1,1
4,Adelie,-1.333559,1.084246,-0.568429,-0.940192,0,1,1
5,Adelie,-0.858123,1.744400,-0.782474,-0.691811,1,0,1
...,...,...,...,...,...,...,...,...
338,Gentoo,0.586470,-1.759497,0.929884,0.891616,0,1,2
340,Gentoo,0.513326,-1.454811,1.001232,0.798473,0,1,2
341,Gentoo,1.171621,-0.743875,1.500670,1.916186,1,0,2
342,Gentoo,0.220750,-1.200905,0.787187,1.233139,0,1,2
343,Gentoo,1.080191,-0.540750,0.858536,1.481520,1,0,2